*
{
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;

}
header{
  width: 100%;
  background-image: url('../../assets/images/about.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;

}

.main{
  font-size: 30px;
  max-width: 500px;
  margin: auto;
}
h3{
  font-size: 50px;
  color: black;
}
p{
  font-size: 30px;
  color:black
  ;
}

.icon {
  font-size: 70px;
  color: blue;
}
.contact {
  position: relative;
  min-height: 40vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  background-size: cover;
}