*
{
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;

}
header{
   background-image: url('../../assets/images/contact1.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;

}
h2,h3,p{
  color: rgb(192, 193, 194);
}
.icon {
  color: blue;
}

.main{
  font-size: 30px;
  max-width: 500px;
  margin: auto;
}

.contact {
  position: relative;
  min-height: 50vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  background-size: cover;
}