*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Moul&family=Poppins:wght@200;300;400;500;600;700&family=Preahvihear&family=Siemreap&display=swap');
body{
    /* font-family: 'Moul', cursive; */
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Preahvihear', cursive;*/
    /* font-family: 'Siemreap', cursive; */

}
/* .navbar{
    display: flex;
    text-align: center;
    padding: 20px;

}
*/


nav{
    background: #343a40;
    color: white;
    
}
nav ul li{
   color: #939699;
    margin: 10px;
    outline: none;
    border: none;
}

nav ul li a{
    color: #939699;
 }

 .nav > li > a:hover {
    color: rgba(255,255,255,.75) !important;
    background-color: #343a40 !important;
}

.col-4 h4,.rating,.cost{
    margin-left: 20%;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding:0 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    width: 90%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
    color: #239D60;

}
.btn{
    display: inline-block;
    background:#239D60;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: background 0.3s;
}
.col-2 .btn:hover{
    background: #ff5200;
}
/* .header{
    background: radial-gradient(rgb(36, 32, 32), #161501);
} */
.color{
    color: #212125;
    color: #239D60;
    color: #A3DE83;
    color: #F7F39A;
    color: #ff5200;
}
.categories{
    margin: 70px 0;

}
.col-3{
    flex-basis: 30%;
    max-width: 150px;
    margin-bottom: 20px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 320px;
    margin-bottom: 50px;
    transition: transform 0.3s;
}
.col-4 img{
    width: 100%;
}
.tittle{
    text-align:center;
    margin:  0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #212125;
}
.tittle::after{
    content: '';
    background: #239D60;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4{
    font-size: 14px;
}
.rating{
    color: #239D60;
}
.col-4:hover{
    transform: translateY(-8px);
}
.offer{
    background: radial-gradient(#fff, #F7F39A);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color:#555;
}
.testimonial{
    padding: 100px;
}
.testimonial .col-4{
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}
.testimonial .col-4 img{
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-4:hover{
    transform: translateY(-12px);
}
.col-4 p{
    font-size: 12px;
    margin:12px 0;
    color: #777;
}
.testimonial .col-4 h3{
    font-weight: 600px;
    color: #555;
    font-size: 16px;
}
/* ------brands------- */
.brands{
    margin:100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/* footer */
.footer{
    background: #212125;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.menu-icon{
    width: 30px;
    margin-left: 20px;
    display: none;
}
.cost{
    color: #ff5200;
}
/* ======Product page Style========= */
.row-2{
    justify-content: space-between;
    margin: 70px auto 50px;
    
}
select{
    border: 2px solid #239D60;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 2px solid #239D60;
    color: #239D60;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff5200;
    color: #fff;
}

/* -------media ---------- */
/* @media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background:#239D60;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }
    nav ul li{
        display: block;
       margin: 20px 10px 10px 50px;
        text-align: left;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
} */
/* -----media query for less than 600 screen size---- */
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4, .col-5{
        flex-basis: 100%;
    }
    .col-5{
        flex-basis: 30%;
    }
}
