body{
    box-sizing: border-box;
}
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
    } 

 .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    } 

    .navbar-collapse.show {
        background: red;
        left: 0;
        transition: left 100ms ease-in-out;
    }

     .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 100ms ease-in-out;
    } 
    .navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
        text-decoration: none;
        background-color: #eee;
    }
}
@media (max-width: 700px){
    .navbar-collapse {
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 15px;
        width: 50%;
        height: 100%;
    }
   
    nav form{
        display: none;
    }
}
/* Product Filter */

.container-fluid{
    margin-top: 80px;
}
.container-fluid .sub #result .ex .card-group .card .card-footer small .color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
