.modal{
    position: relative;
}
input[type='file']{
    border: none;
}

.modal-body .control{
    width: 80%;
    height: auto;
}
#user_data_wrapper .dt-buttons {
    display: flex;
    margin-left: 44%;
    top: -60px;
    position: absolute;
    width: 400px;
    justify-content: center;
}

#user_data_wrapper .dt-buttons button {
    margin-left: 10px;
    padding: 5px;
    background: #45f06d;
    border: none;
    box-shadow: none;
    border-radius: 4px;

}

#user_data_wrapper .dt-buttons button:hover {
    background: #ff0076;
}